.section-features {
  padding: 20rem 5rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-dark, 0.8),
      rgba($color-primary-light, 0.8)
    ),
    url(../img/nat-4.jpg);
  margin-top: -20vh;
  background-repeat: no-repeat;
  background-size: cover;

  transform: skewY(-7deg);
  /* clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%); */

  & > * {
    transform: skewY(7deg);
  }

  &__cards {
    display: flex;
    gap: 4rem;
    max-width: 140rem;
    margin: 0 auto;

    @include respond(tab-port) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__card {
    padding: 3rem;
    background-color: $color-white;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    transition: all 0.3s;

    &:hover {
      transform: translateY(-2rem);
    }
  }

  &__icon {
    font-size: 8rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.row {
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 6rem;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
  }
}

.col {
  flex: 1;
  height: 50rem;
  text-shadow: 0 1.5rem 4rem rgba($color-black, 0.3);

  @include respond(tab-port) {
    width: 70%;
  }
}

.card {
  perspective: 150rem;
  position: relative;
  height: 50rem;

  &__side {
    height: 50rem;
    transition: all 0.8s ease;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    overflow: hidden;

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(-180deg);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4rem;

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }

      h4 {
        font-size: 2rem;
        color: $color-white;
        text-transform: uppercase;
      }

      h3 {
        font-size: 8rem;
        color: $color-white;
        font-weight: 300;
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    &-1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg);
    }

    &-2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/nat-6.jpg);
    }

    &-3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 300;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 50%;
    text-align: right;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;

    &-1 {
      background-image: linear-gradient(
        to right bottom,
        $color-secondary-light,
        $color-secondary-dark
      );
    }

    &-2 {
      background-image: linear-gradient(
        to right bottom,
        $color-primary-light,
        $color-primary-dark
      );
    }

    &-3 {
      background-image: linear-gradient(
        to right bottom,
        $color-tertiary-light,
        $color-tertiary-dark
      );
    }
  }

  &__details {
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 2px solid $color-light-grey2;
        }
      }
    }
  }
}
